Good Day,<br/>
<br/>
The honey bees over at Swapidy HQ would like to thank you for signing up for updates on our launch.<br/>
<br/>
We're about to disrupt the way you buy and sell things.<br/>
<br/>
Cheerio,<br/>
<br/>
<a href="http://www.twitter.com/theswapdaddy"><strong>@TheSwapDaddy</strong></a><br/>
<a href="http://www.twitter.com/swapidy">@Swapidy</a><br/>
<br/>
