<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">Our honey bees are hard at work. 
</h1>
    <br/>
    <p class="hero_info">We're creating a platform that saves you a lot of time.
    </p>

   <p id="enter_info" class="hero_info ">Enter your email below and be the first in line when we go live.
   </p>
  </div>
  <div id="buttons">
    <%= form_for(@visitor, :as => "visitor", :url => "/visitor", :class =>"signup_input", :method => :post) do |f| %>
      <input id="visitor_email" name="visitor[email]" placeholder="Email address" size="30" 
        type="email" style="height: 30px; margin: 10px; padding: 8px 15px;">
      <%= f.submit "Submit Email", :class => "modern socle buy_now" %>
      <% if !@visitor.errors.empty? %>
        <br/><span style="color: red; margin-left: 10px; text-shadow: black 0.1em 0.1em 0.2em;"><%= @visitor.errors.full_messages.first %></span>
      <% elsif flash[:thanks_visitor] && !flash[:thanks_visitor].blank? %>
        <br/><span style="color: white; font-weight: bold; margin-left: 325px; text-shadow: black 0.1em 0.1em 0.2em;"><%= flash[:thanks_visitor] %></span>
      <% end %>
    <% end %>
  </div>
</div>
