<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">A revolution is coming.</h1>
    <br/>
    <p class="hero_info">
      We buy your products for honey. You buy anything using honey.
    </p>
    <p class="hero_info">
      It's never been so easy to buy and sell.
    </p>
  </div>
  
<<<<<<< HEAD
  <div>
    <%= form_for(@visitor, :as => "visitor", :url => "/visitor", :method => :post) do |f| %>
      
      <%= f.email_field :email %>
      <%= f.submit "Submit" %>
      <% unless @visitor.errors.empty? %>
        <font style="color: red;"><%= @visitor.errors.full_messages.first %></font>
      <% end %>
    <% end %>
=======
  <div id="buttons">
    <form class="signup_input" action="/home/visitor" method="post">
      <input type="text" id="visitor_email" name="email" placeholder="email address" />
      <input class="modern socle sell_now" type="submit" name="Submit" value="GO"/>
    </form>
>>>>>>> design changes to made
  </div>



</div>

  <div id="footer">
    <ul>
    <li><a href="http://facebook.com/swapidy" target="_blank"><img id="footer_fb" src="/images/footer_fb.png" style="height:45px"></a></li>
    <li><a href="http://twitter.com/swapidy" target="_blank"><img id="footer_twitter" src="/images/footer_twitter.png" style="height:40px"></a></li>
    <li><a href="#"><img id="footer_pando" src="/images/pandodaily.png"></a></li>
    </ul>
  </div>
