<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">A revolution is coming.</h1>
    <br/>
    <p class="hero_info">
      We buy your products for honey. You buy anything using honey.
    </p>
    <p class="hero_info">
      It's never been so easy to buy and sell.
    </p>
  </div>
  
  <div>
    <form action="/home/visitor" method="post">
      <input type="text" id="visitor_email" name="email" />
      <input type="submit" name="Submit" value="Submit" />
    </form>
  </div>
</div>


