<div class="hero-unit">
  <div style="hero-unit-content">
    <h1 class="hero_title">A revolution is coming.</h1>
    <br/>
    <p class="hero_info">
      We buy your products for honey. You buy anything using honey.
    </p>
    <p class="hero_info">
      It's never been so easy to buy and sell.
    </p>
  </div>
  
  <div>
    <%= form_for(@visitor, :as => "visitor", :url => "/visitor", :method => :post) do |f| %>
      
      <%= f.email_field :email %>
      <%= f.submit "Submit" %>
      <% unless @visitor.errors.empty? %>
        <font style="color: red;"><%= @visitor.errors.full_messages.first %></font>
      <% end %>
    <% end %>
  </div>
</div>


