<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/images/swapidy_logo.png" style="height:50px"></a>
    <ul class="nav pull-right">
      <li><a href="/about">ABOUT</a></li>
       <li class="divider-vertical"></li>
      <li><a href="/team">OUR TEAM</a></li>
             <li class="divider-vertical"></li>

      <li><a href="/jobs">JOBS</a></li>
    </ul>
    </div>
  </div>
</div>


